@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-SemiBoldIt.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-SemiBoldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-It.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-Light.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-BoldIt.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-Black.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-LightIt.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-ExtraLightIt.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../assets/fonts/SourceSerifPro-BlackIt.woff2') format('woff2'),
        url('../assets/fonts/SourceSerifPro-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: 'Source Serif Pro';
}